asttokens==2.0.8
backcall==0.2.0
certifi==2022.9.24
click==8.1.3
cmcrameri==1.4
colorama==0.4.5
contourpy @ file:///D:/bld/contourpy_1662135324760/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
debugpy==1.6.3
decorator==5.1.1
elephant==0.11.1
entrypoints==0.4
executing==1.1.0
fonttools @ file:///D:/bld/fonttools_1663708113092/work
h5py==3.7.0
idna==3.4
imutils==0.5.4
-e git+https://github.com/carlacodes/instruments.git@5a4f89dfde989bf5251583dbbe6ce5de56d8606d#egg=instruments
ipykernel==6.15.3
ipython==8.5.0
ipywidgets==8.0.2
jedi==0.18.1
joblib==1.2.0
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-widgets==3.0.3
kiwisolver @ file:///D:/bld/kiwisolver_1657953239132/work
llvmlite==0.38.1
mat73==0.59
matplotlib==3.5.3
matplotlib-inline==0.1.6
munkres==1.1.4
neo==0.11.0
nest-asyncio==1.5.5
networkx==2.8.6
npyx==2.6.0
numba @ file:///D:/bld/numba_1655473466354/work
numpy @ file:///D:/bld/numpy_1651020764721/work
opencv-python==4.6.0.66
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas @ file:///D:/bld/pandas_1663621248084/work
parso==0.8.3
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1660385947107/work
probeinterface==0.2.11
prompt-toolkit==3.0.31
psutil==5.9.2
pure-eval==0.2.2
Pygments==2.13.0
pynndescent==0.5.7
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySR3==0.3.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-utils==3.3.3
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1660580468234/work
pywin32==304
PyYAML==6.0
pyzmq==24.0.1
quantities==0.13.0
scikit-learn==1.1.2
scipy==1.9.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1662491375569/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data==0.5.1
statsmodels @ file:///D:/bld/statsmodels_1644535944524/work
threadpoolctl==3.1.0
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
umap-learn==0.5.3
unicodedata2 @ file:///D:/bld/unicodedata2_1649112137711/work
urllib3==1.26.12
wcwidth==0.2.5
widgetsnbextension==4.0.3
